.tiny{
    background-color:red;
    color:white;
}
.big{
    background:orange;
}
.yesss{ 
    background-color:pink;
color:blue;
}
.hey{ 
    background-color:yellow;
    color:green;
}
p{
    font-size:20px;
    color:purple;
    background-color:white;
}
h1{ 
font-family: "indie flower";
}
p{
    font-family: "indie flower";
}
h2{
    font-family:"stylesheet";
}
body{
    background-color:navy;
}